<div class="container">
  <br>
  <h1 style="text-align: center; color: dodgerblue">Premier League 2015/16</h1>
  <br>
  <div class="row">
    <div class="col-sm-12">
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">

          <!-- &lt;!&ndash; Position Column &ndash;&gt;
           <ng-container matColumnDef="position">
             <th mat-header-cell *matHeaderCellDef> No. </th>
             <td mat-cell *matCellDef="let element"> {{element.position}} </td>
           </ng-container>-->

          <!-- Date Column -->
          <ng-container matColumnDef="date">
            <th style="text-align: center; color: black" mat-header-cell *matHeaderCellDef> <h5><b>Date</b></h5> </th>
            <td style="text-align: center" mat-cell *matCellDef="let element"> {{element.date}} </td>
          </ng-container>

          <!-- Teams Column -->
          <ng-container matColumnDef="team">
            <th mat-header-cell *matHeaderCellDef style="text-align: center; color: black"> <h5><b>Teams</b></h5> </th>
            <td style="text-align: center" mat-cell *matCellDef="let element"><button (click)="openDialog(element.team1.name)"> {{element.team1.name}} </button> &nbsp; VS &nbsp;
              <button (click)="openDialog(element.team2.name)"> {{element.team2.name}} </button> </td>
          </ng-container>

          <!-- Score Column -->
          <ng-container matColumnDef="score">
            <th style="text-align: center; color: black" mat-header-cell *matHeaderCellDef> <h5><b>Score</b></h5> </th>
            <td style="text-align: center" mat-cell *matCellDef="let element"> {{element.score1}} - {{element.score2}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [length]="pageLength" [pageSize]="size" [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator>
      </div>
    </div>
  </div>
</div>
